:host {
    --cor-primaria: #c8a18f;
    --cor-secundaria: #ffb5a4;
    --cor-cinza: grey;
    --cor-branco: white;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li a {
    height: 22.5rem;
    width: 20rem;
    border: 1px solid var(--cor-primaria);
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--cor-primaria);
}

li a:hover {
    opacity: 0.9;
    cursor: pointer;
}

li a img {
    object-fit: cover;
    height: 14.5rem;
}

.conteudo {
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
}

.favorito {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
    color: var(--cor-secundaria);
}

.favorito.not {
    color: var(--cor-cinza);
}

.preco {
    position: absolute;
    bottom: 1.5rem;
    left: 0.9rem;
    background: var(--cor-branco);
    padding: 0.3rem 100% 0 0;
    color: var(--cor-cinza);
    margin-top: 0.7rem;
    font-size: 1.1rem;
}

