<app-pesquisa></app-pesquisa>
<app-tags></app-tags>
<app-nao-encontrado
[visivel]="!produtos || !produtos.length"
textoResetarLink="Ver todos os produtos"
></app-nao-encontrado>
<ul>
    <li *ngFor="let produto of produtos">
        <a href="/produto/{{produto.id}}">
            <img src="{{produto.urlImagem}}" alt="{{produto.nome}}">
            <div class="conteudo">
                <div class="nome">
                    {{produto.nome}}
                </div>
                <span class="favorito {{produto.favorito?'':'not'}}">
                    ❤
                </span>
                <div class="preco">
                    <span>
                        {{produto.preco | currency:'BRL'}}
                    </span>
                </div>
            </div>
        </a>
    </li>
</ul>
