<header>
    <div class="container">
        <a href="/" class="logo">Sanrio</a>
        <nav>
            <ul>
                <li>
                    <a href="/login" >Login</a>
                </li>
                <li>
                    <a href="/carrinho-page">
                        Carrinho
                    </a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Menu</a>
                    <div class="menu">
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
