@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:host {
    --cor-primaria: #c8a18f;
    --cor-secundaria: #f7f2f0;
    --cor-terciaria: #efd3cd;
    --cor-hover: #ffb5a4;
    --cor-branco: white;
    --fonte-logo: 'Pacifico', cursive;
  }

header {
    position: relative;
    background: var(--cor-secundaria);
    padding: 0;
    border-bottom: 1px solid var(--cor-primaria);
}    

a {
    color: var(--cor-primaria);
}

a:hover {
    color: var(--cor-hover);
    cursor: var(--cor-secundaria);
    cursor: pointer;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo {
    font-family: var(--fonte-logo);
    font-weight: 400;
    padding: 1rem;
}

ul {
    font-weight: 400;
    display: flex;
    list-style-type: none;
    margin: 0;
}

ul a {
    padding: 1rem;
    display: inline-block;
}

a span {
    background: var(--cor-terciaria);
    color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
}

.menu-container {
    position: relative;
}

.menu {
    position: absolute;
    z-index: 1;
    background: var(--cor-branco);
    display: none;
}


.menu-container:hover .menu{
    display: block;
}

.menu a {
    width: 100%;
    min-width: 8rem;
}