<header>
    <div class="container">
        <a href="/" class="logo">Sanrio</a>
        <nav>
            <ul>
                <li>
                    <a href="/login" >Login</a>
                </li>
                <li class="menu-container">
                    <a href="/dashboard">Perfil</a>
                    <div class="menu">
                        <a href="/profile">Perfil</a>
                        <a href="/orders">Pedidos</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a href="/carrinho-page">
                        Carrinho <span></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
