<app-nao-encontrado
[visivel]="!produto.id"
mensagemNaoEncontrado="Produto não encontrado!"
textoResetarLink="Voltar para tela inicial"
></app-nao-encontrado>

<div *ngIf="produto.id" class="container">
    <img src="{{produto.urlImagem}}" alt="{{produto.nome}}">

    <div class="detalhes">
        <div class="header">
            <span class="nome">
                {{produto.nome}}
            </span>
            <span class="favorito {{produto.favorito? '': 'not'}}">❤</span>
        </div>
        <div class="tags">
            <a *ngFor="let tag of produto.tags" href="/tag/{{tag}}">
                {{tag}}
            </a>
        </div>
        <div class="preco">
            <span>
                {{produto.preco | currency:'BRL'}}
            </span>
        </div>
        <button (click)="aoClicarAdicionar()">Adicionar ao carrinho</button>
    </div>
</div>
