.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
    flex-direction: column;
}

button {
    width: 25rem;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.8rem;
    background-color: #c8a18f;
    color: white;
    border-radius: 1rem;
    border: 0px;
    outline: none;
    margin-top: 1rem;
    cursor: pointer;
}