<div class="container">
    <div class="detalhes">
        <app-titulo titulo="Login"></app-titulo>

        <form [formGroup]="formulario">

            <div class="input-container">
                <label>Usuário</label>
                <div>
                    <input type="text" placeholder="Digite seu usuário" formControlName="usuario">
                </div>
            </div>

            <div class="input-container">
                <label>Senha</label>
                <div>
                    <input type="password" placeholder="Digite sua senha" formControlName="senha">
                </div>
            </div>

            <div class="botao">
                <button (click)="aoClicarFazerLogin()" type="submit" [disabled]="!formulario.valid">Login</button>
            </div>
                
        </form>
    </div>
</div>
