:host {
    --cor-primaria: #c8a18f;
    --cor-secundaria: #f7f2f0;
    --cor-branco: white;
    --cor-cinza: grey;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}

label {
    color: var(--cor-primaria);
    font-weight: bold;
}

input {
    background-color: var(--cor-secundaria);
    font-size: 0.9rem;
    color: var(--cor-cinza);
    padding: 10px 20px;
    border: 0px;
    border-radius: 1rem;
    outline: var(--cor-primaria);
    margin-bottom: 10px;
    width: 25rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 25rem;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.8rem;
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    border-radius: 1rem;
    border: 0px;
    outline: none;
    margin-top: 40px;
    cursor: pointer;

    &[disabled] {
        background-color: var(--cor-cinza);
        cursor: not-allowed;
    }
}