<div class="container">
    <div class="conteudo">
        <app-titulo titulo="Fechar Pedido"></app-titulo>

        <form>
            <div>
                <label>Nome</label>
                <input type="text" placeholder="Digite seu nome">
            </div>

            <div>
                <label>Endereço</label>
                <input type="text" placeholder="Digite seu endereço">
            </div>
        </form>

        <app-itens-pedido [pedido]="pedido"></app-itens-pedido>

        <div class="botao">
            <button (click)="aoClicarEditarPedido()">Editar Pedido</button>
            <button (click)="aoClicarFecharPedido()" type="submit">Fechar pedido</button>
        </div>
    </div>
</div>
