:host {
    --cor-primaria: #c8a18f;
    --cor-secundaria: #f7f2f0;
    --cor-branco: white;
    --cor-cinza: grey;
}

.conteiner {
    display: flex;
    justify-content: start;
    height: 100%;
    margin-left: 1rem;
    width: 100%;
}

.conteudo {
    margin-left: 1rem;
    margin-right: 1rem;
}

label {
    color: var(--cor-primaria);
    font-weight: bold;
}

input {
    background-color: var(--cor-branco);
    font-size: 0.9rem;
    color: var(--cor-cinza);
    padding: 10px 20px;
    border: 0px;
    border-radius: 1rem;
    outline: var(--cor-primaria);
    margin-bottom: 10px;
    margin-right: 1rem;
    width: 100%;
}

.botao {
    display: flex;
    justify-content: start;
}

.botao-editar {
    margin-right: 1rem;
}

button {
    width: 25rem;
    text-align: center;
    font-size: 1.1rem;
    padding: 0.8rem;
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    border-radius: 1rem;
    border: 0px;
    outline: none;
    margin-top: 40px;
    cursor: pointer;
}