<app-titulo titulo="Carrinho" margin="1.5rem 0 0 2.5rem"></app-titulo>
<app-nao-encontrado 
    [visivel]="!carrinho || !carrinho.totalQuantidade"
    mensagemNaoEncontrado="Carrinho está vazio!"
    textoResetarLink="Voltar para tela inicial">
</app-nao-encontrado>

<div *ngIf="carrinho && carrinho.totalQuantidade" class="container">
    <ul>
        <li *ngFor="let itemCarrinho of carrinho.itens">
            <div>
                <img src="{{itemCarrinho.produto.urlImagem}}" alt="{{itemCarrinho.produto.nome}}">
            </div>
            <div>
                <a class="nome-produto" href="/produto/{{itemCarrinho.produto.id}}">
                    {{itemCarrinho.produto.nome}}
                </a>
            </div>
            <div>
                <select #selecionarQuantidade 
                [value]="itemCarrinho.quantidade" 
                (change)="aoMudarQuantidade(itemCarrinho, selecionarQuantidade.value)">
                <option >1</option>
                <option >2</option>
                <option >3</option>
                <option >4</option>
                <option >5</option>
            </select>
            </div>
            <div>
                {{itemCarrinho.preco | currency:'BRL'}}
            </div>
            <div>
                <button class="botao-remover" (click)="aoClicarRemover(itemCarrinho)">Remover</button>
            </div>
        </li>
    </ul>
    <div class="fechar-pedido">
        <div>
            <div class="produto-quantidade"> {{carrinho.totalQuantidade}} </div>
            <div class="produto-preco"> {{carrinho.totalPreco | currency:'BRL'}} </div>
        </div>
        <a href="/fechar-pedido">Fechar Pedido</a>
    </div>
</div>
