.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.message-box {
    padding: 10px;
    margin: 10px;
    border: 1px solid #c8a18f;
    border-radius: 1rem;
    background-color: #f7f2f0;
    color: grey;
}

button {
    padding: 0.5rem;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    background-color: #c8a18f;
    color: white;
}