:host {
    --cor-primaria: #c8a18f;
    --cor-secundaria: #f7f2f0;
    --cor-branco: white;
    --cor-cinza: grey;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.message-box {
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--cor-primaria);
    border-radius: 1rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-cinza);
}

button {
    padding: 0.5rem;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    cursor: pointer;
}